/* color scheams */
:root {
  --col1: #000000;
  --col2: #ff0000;
  --col3: #181818;
  --col4: rgba(88, 88, 88, 0.5);
  --col5: rgba(100, 17, 17, 0.62);
  --col6: #d8d8d8;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to left top, rgba(100, 17, 17, 1), #181818);
  max-width: 100vw;
  min-height: 100vh;
}

.container-fluid{
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main{
  flex-grow: 1;
}

.Nav{
  background-color: var(--col3);
  color: white;
  margin: 0;
  padding: 10px 0px 6px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 2%;
  border-radius: 5px;
  transition: all 0.5s;
}

#logo{
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  transform-origin: bottom;
}

.Nav > h5{
  font-size: 22px;
  padding: 7px;
  border-radius: 5px;
  transition: all 0.6s;
}

.Nav > h4{
  font-size: 22px;
  padding: 7px;
  border-radius: 5px;
  transition: all 0.6s;
}

.heading{
  color: white;
  margin: 25px 0;
  display: flex;
  justify-content: center;
}

.heading-text{
  border-left: 2px solid var(--col2);
  border-right: 2px solid var(--col2);
  padding: 0px 10px;
  font-size: 24px;
}

.red-line{
  background-color: var(--col2);
  width: 15px;
  height: 2px;
  margin: 0 5px;
  transform: translateY(10px);
}

.red{
  color: var(--col2);
}

.events{
  display: flex;
  margin: 15px;
  margin-top: 50px;
}

.events > .event-item{
  color: var(--col6);
  padding: 5px 20px;
  font-size: 14px;
}

.item-title{
  text-transform: uppercase;
  font-size: large;
  text-align: center;
}

.event-item:nth-child(2){
  border-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), red, rgba(0, 0, 0, 0.4)) 1 100%;
}

.carousel{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-bottom: 50px;
}

.images{
  display: flex;
}

.image{
  width: 450px;
  height: 230px;
  position: relative;
}

.image > img{
  width: 400px;
  height: 200px;
  margin: 0px 5%;
  border-radius: 6px;
  transition: all 0.5s;
  cursor: pointer;
  object-fit: cover;
}

.image > img:hover{
  width: 440px;
  height: 220px;
  margin: 5px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  
}

.event-name{
  color: white;
  position: absolute;
  height: 50px;
  bottom: -50px;
  left: 0;
  background-color: rgba(255, 0, 0, 0.4);
  padding: 1px 30px;
  font-size: 20px;
  text-align: center;
  border-radius: 2px;
  transition: bottom 0.5s;
}

.carousel-indicators > li{
  border-radius: 6px;
}

.carousel-indicators > .active{
  background-color: var(--col2);
}

.footer{
  background-color: var(--col1);
  color: white;
  padding-top: 10px;
  margin: 0 2%;
  border-radius: 5px;
}

.Nav:hover{
  box-shadow: 4px 3px 7px rgba(255, 0, 0, 0.5);
}

.Nav:hover > h5, .Nav:hover > h4{
  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -o-transform: skew(-15deg);
  transform: skew(-15deg);
  box-shadow: 4px 3px 5px rgba(255, 0, 0, 0.5) ;
  background-color: rgba(105,105,105,0.6);
  font-size: 26px;
}

#logo:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
0%   { transform: translateY(0); }
25%  { transform: translateY(10px); }
50%  { transform: translateY(0px); }
75%  { transform: translateY(-10px); }
100% { transform: translateY(0); }
}

